/* ==========================
   STATS SECTION
========================== */

.stats {
    background: #1A0505;
    padding: 56px 0;
}

.stats-container {
    max-width: 1349px;
    width: 92%;
    margin: 0 auto;
    padding-left: 30px;
    padding-right: 20px;
    align-items: center;

    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
}

.stat-card {
    width: 1440px;
    min-height: 90px;
    padding-left: 32px;
    box-sizing: border-box;

    border-right: 1px solid rgba(255,255,255,0.1);
}

.stat-card:last-child{
    border-right: none;
}

.stat-card:not(:last-child)::after {
  content: "";
  position: absolute;
  right: -25px;
  top: 5px;

  width: 1px;
  min-height: 80px;

  background: rgba(255,255,255,0.08);
}

.stat-card h2 {
  font-family: "Libre Caslon Text", serif;
  font-size: 42px;
  font-weight: 700;
  line-height: 42px;
  color: #fff;

  margin-bottom: 10px;
}

.stat-card h4 {
  font-family: "Inter", sans-serif;
  font-size: 15px;
  font-weight: 600;
  line-height: 22.5px;
  color: #FF9090;

  margin-bottom: 8px;
}

.stat-card p {
  font-family: "Inter", sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  color: rgba(255,255,255,0.6);
}