@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&family=Libre+Caslon+Text:wght@700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  overflow-x: hidden;
}

body {
  font-family: "Inter", sans-serif;
  background: #fff;
}

.container{
    width: min(90%, 1280px);
    margin: 0 auto;
}

@media (max-width:768px){

.container{
    width: calc(100% - 40px);
}
}